
.text-column {
  flex-basis: 50%;
  position: relative;
  z-index: 0;

  /* display: flex;
  justify-content: center; */

}

.text-column-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  /* width: 18em;
  height: 8em; */
}

/* 
.text-column-content {
  width: 50%;
}
 */

 @media screen and (max-width:891px) {
  .text-column-content h1{
    font-size: 23px;
  }
  .text-column-content p{
    font-size: 15px;
  }
}