* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "Microsoft JhengHei UI","微軟正黑體", "Roboto",sans-serif;
}


/* Navigation */

.nav-container {
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    min-height: 8vh;
    z-index: 100;
}

.wrapper {
    /* here set max-width is 1000 px is tuned by the diff. of figma frame size and 720p mon size (orginal is 1294px)*/
    max-width: 1200px;
    margin: 0 auto;
    padding-right: 5vw;
    padding-left: 5vw;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    display: flex;
}

.logo img {
    width: 80%;
}


.nav-items-active li{
    list-style: none;

}


#show {
    display: flex;
}

.nav-items-active {
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.a-to-other-page,  .nav-items-active li a{
    font-family: "Microsoft JhengHei UI","微軟正黑體", "Roboto",sans-serif;
    font-style: normal;
    font-size: 16px;
    text-decoration: none;
    color: #000000;
}

.menu-icon {
    display: none;
}

div {
    overflow: visible;

}

@media screen and (max-width:1120px) {
    .nav-items-active {
        width: 70%;
    }
}

@media screen and (max-width:808px) {
    .menu-icon {
        display: flex;
    }
    .nav-items-active{
        display: none;
    } 

    .logo img {
        width: 60%;
    }

    #show{
        position: fixed;
        right: 0px;
        height: 91vh;
        top: 9vh;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 3;
        align-items: center;
        overflow-y: auto;
    }

}