.resqest-wrapper {
  position: relative;

  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.requestFormBox {
  margin-top: 20px;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  width: 480px;
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}

.requestFormBox h1 {
  padding-bottom: 40px;
  font-size: 30px;

}

.requestFormBox input {
  /* box-sizing:border-box; */
  border: 1px solid #000000;
  width: 80%;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 30px;
  height:50px;
  font-size: 20px;
  text-align: center;

}


@media screen and (max-width:560px) {
  .requestFormBox {
    box-shadow: none;
    width: 100%;
  }

}


#red-button {
  background-color: #C4606B;
  color: #FFFFFF;
  width: 80%;
  height: 40px;
  border: none;
  font-size: 20px;
}

#red-button:hover {
  background-color: #b34854;
}
