.comment{
  margin-left: 15%;
  width: 100%;
  min-width: 400px;
  flex-direction: column;
}
.commentPart{
  margin-top: 20px;
}
.linktofill{
  margin-left: 15%;
}
@media screen and (max-width: 500px) {
  .comment{
    margin-left: 5%;
  }
}