.barchart {
    width: 40%;
    min-width: 350px;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.34);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.34);
    margin-top: 1%;
    margin-bottom: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-0%)
}